@model PagedList.IPagedList<Model.FE.User>
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản Lý Người Dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Footerjs{
    <script src="~/asses/admin/js/User.js"></script>
}

@section header{
    Danh sách người dùng
    <!DOCTYPE html>
    <html lang="en">
    <body id="page-top">

        <!-- Page Wrapper -->
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <div id="content">
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            @using (Html.BeginForm("Index", "User", FormMethod.Get))
                            {
                                <div class="input-group">
                                    <input type="search" name="searchString" value="" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                    <button type="submit" class="btn btn-outline-primary">search</button>
                                    <a class="btn btn-outline-primary" href="/Admin/User/Create">Thêm mới</a>
                                </div>

                            }
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Tài Khoản</th>
                                        <th>Họ Tên</th>
                                        <th>Email</th>
                                        <th>Số Điện Thoại</th>
                                        <th>Địa chỉ</th>
                                        <th>Trạng Thái</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.UserName</td>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Address</td>
                                            <td> <a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "kích hoạt" : "Khóa") </a></td>
                                            <td>
                                                <a href="/Admin/User/Update/@item.ID">Sửa</a>
                                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                                {
                                                Confirm = "Bạn có muốn xóa bản ghi này",
                                                OnComplete = "$('row_" + item.ID + "').remove()",
                                                HttpMethod = "Delete"
                                                })
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
    </body>

</html>
}

